<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Manage Animals</title>
</head>

<body class="pb-5" style="background-color: rgba(229, 229, 229)">
<div th:insert="/elements/adminNavbar.html"></div>

<div class="container">

    <div class="row">
        <div class="col-12">
            <button style="background-color: rgba(67, 97, 238);" type="button" class="btn text-light mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span>Добавить новую породу</span>
            </button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div style="background-color: white; padding: 25px 20px 40px; border-radius: 10px">
                <table class="table table-hover">
                    <thead>
                        <th >ID</th>
                        <th style="width: 15%">Наименование</th>
                        <th style="width: 45%">Описание</th>
                        <th>Животное</th>
                        <th>Фото</th>
                        <th style="width: 15%">Внести изменения</th>
                    </thead>
                    <tbody>
                        <tr th:each="breed:${breeds}">
                            <td th:text="${breed.id}"></td>
                            <td th:text="${breed.name}"></td>
                            <td style="max-width: 200px" th:text="${breed.specifications}"></td>
                            <td th:text="${breed.animal.name}"></td>
                            <td><a th:href="@{'/view-breed-picture/'+${breed.pictureUrl}}">Посмотреть</a></td>
                            <td>
                                <div style="display: flex">
                                    <button type="button" class="btn" data-bs-toggle="modal"
                                            th:attr="data-bs-target='#exampleModal'+${breed.id}"
                                            style="background-color: rgba(67, 97, 238);">
                                        ✍
                                    </button>
                                    <form th:action="@{'/delete-breed'}" method="post" class="ms-2">
                                        <input type="hidden" th:value="${breed.id}" name="breed_id">
                                        <button class="btn-danger btn" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </div>

                                <div class="modal fade" th:id="'exampleModal'+${breed.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog text-dark">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Изменение животного</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form method="post" th:action="@{'/change-breed'}" enctype="multipart/form-data">
                                                <div class="modal-body">
                                                    <label for="input1">Наименование</label>
                                                    <input th:value="${breed.name}" id="input1" class="form-control mt-1"
                                                           name="breed_name" type="text">

                                                    <label for="input2" class="mt-2">Спецификации</label>
                                                    <textarea id="input2" class="form-control mt-1 mb-2"
                                                              name="breed_specifications"
                                                              th:text="${breed.specifications}"></textarea>

                                                    <label for="input3" class="mt-2">Животное</label>
                                                    <select id="input3" class="form-select" name="breed_animal" >
                                                        <option th:each="animal:${animals}" th:text="${animal.name}" th:value="${animal.id}" th:selected="${animal.id} == ${breed.animal.id}"></option>
                                                    </select>

                                                    <label for="input8" class="mt-2">Фотография</label>
                                                    <input type="file" id="input8" class="form-control mt-1" name="breed_picture">

                                                    <input type="hidden" th:value="${breed.id}" name="breed_id">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                    <button type="submit" class="btn-success btn">Сохранить</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'exampleModal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog text-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Добавление породы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{'/add-new-breed'}" enctype="multipart/form-data">
                <div class="modal-body">
                    <label for="input4">Наименование</label>
                    <input id="input4" class="form-control mt-1"
                           name="breed_name" type="text">

                    <label for="input5" class="mt-2">Спецификации</label>
                    <textarea id="input5" class="form-control mt-1"
                              name="breed_specifications"></textarea>

                    <label for="input6" class="mt-2">Животное</label>
                    <select id="input6" class="form-select mt-1" name="breed_animal">
                        <option th:each="animal:${animals}" th:text="${animal.name}" th:value="${animal.id}"></option>
                    </select>

                    <label for="input7" class="mt-2">Фотография</label>
                    <input type="file" id="input7" class="form-control mt-1" name="breed_picture">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn-success btn">Сохранить</button>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>