<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All cards</title>
</head>
<div th:insert="/elements/navbar.html"></div>
    <body style="background-color: rgba(229, 229, 229)">
        <div class="container" style="display: flex; justify-content: space-between">
            <div style="width: 57%">
                <div class="row mt-5" style="display: flex; justify-content: space-around">
                    <div class="col-12 mx-auto">
                        <div class="row" th:each="pet:${pets}">
                            <a th:href="@{'/all-pets-with-no-owner/'+${pet.id}}" style="text-decoration: none">
                                <div class="col-12 mb-4 p-4" style="background-color: white;
                            border-radius: 10px; display: flex; justify-content: space-between">
                                    <div style="width: 70%">
                                        <h6 th:text="${pet.name}"></h6>
                                        <h6 th:text="${pet.breed.animal.name} + ' | ' + ${pet.breed.name}"></h6>
                                        <p style="text-align: start" th:text="${pet.description}"></p>
                                    </div>
                                    <div>
                                        <img th:src="${'/view-pet-picture/'}+${pet.picUrl}" style="height: 100px;
                                    border-radius: 10px">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: 37%">
                <div class="row mt-5" style="display: flex; justify-content: space-around">
                    <div class="col-12 p-4" style="background-color: white; border-radius: 10px">
                        <h5 class="text-center mb-3">Выбор по категориям</h5>
                        <table class="table">
                            <thead></thead>
                            <tbody>
                            <tr th:each="breed:${breeds}">
                                <td>
                                    <a th:text="${breed.animal.name} + ' | ' + ${breed.name}"
                                       th:href="@{'/all-pets-with-no-owner/breed/'+${breed.id}}"
                                       style="text-decoration: none"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>