<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body class="pb-5" style="background-color: rgba(229, 229, 229)">
        <div th:insert="/elements/navbar.html"></div>
        <div class="container">
            <div class="row mt-5">
                <div class="mx-auto pt-4 ps-4 pe-4 pb-0" style="width: 600px;border-radius:10px 10px 0 0; background-color: white">
                    <div style="display: flex; justify-content: space-between">

                        <div>
                            <img th:src="${'/view-pet-picture/'}+${pet.picUrl}" style="height: 160px">
                        </div>
                        <div style="margin-left: 30px">
                            <h5 th:text="${pet.name}"></h5>
                            <p th:text="${pet.description}" style="font-size: 110%"></p>
                        </div>

                    </div>
                    <div>
                        <hr>
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <span th:text="${pet.breed.name}"></span>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <p th:text="${pet.breed.specifications}"></p>
                            </div>
                        </div>
                        <hr>
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                <span th:text="${pet.breed.animal.name}"></span>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                <p th:text="${pet.breed.animal.specifications}"></p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div style="display: flex; justify-content: center; align-items: center">
                        <button class="btn mx-auto my-auto"  data-bs-toggle="modal"
                                data-bs-target="#adoptPet"
                                style="background-color: rgba(255, 102, 0); color: white;
                                width: 600px; border-top-left-radius: 0; border-top-right-radius: 0; height: 60px">
                            <h5>стать хозяином</h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>

<div sec:authorize="hasAnyRole('ROLE_OWNER')">
    <div class="modal fade" th:id="'adoptPet'" tabindex="-1" aria-labelledby="adoptPetLabel" aria-hidden="true">
        <div class="modal-dialog text-dark">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adoptPetLabel">Стать хозяином</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" th:action="@{'/owner-adopt-pet'}">
                    <div class="modal-body">
                        <h5>Уверены ли вы, что хотите стать хозяином питомца?</h5>
                    </div>
                    <div style="display: flex; justify-content: center; margin-bottom: 30px">
                        <img class="mx-auto" th:src="${'/view-pet-picture/'}+${pet.picUrl}" style="height: 160px">
                    </div>
                    <input type="hidden" th:value="${pet.id}" name="pet_id">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Нет</button>
                        <button type="submit" class="btn" style="background-color: rgba(255, 102, 0); color: white">Да</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div sec:authorize="!hasAnyRole('ROLE_OWNER')">
    <div class="modal fade" th:id="'adoptPet'" tabindex="-1" aria-labelledby="adoptPetLabel" aria-hidden="true">
        <div class="modal-dialog text-dark">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adoptPetLabel">Введите пользовательские данные</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" th:action="@{'/user-adopt-pet'}">
                    <div class="modal-body">
                        <label for="input3" class="mt-2">Номер телефона</label>
                        <input type="tel" id="input3" class="form-control mt-1" name="phone_number">

                        <label for="input2" class="mt-2">Адрес</label>
                        <input type="text" id="input2" class="form-control mt-1" name="address">

                        <input type="hidden" th:value="${pet.id}" name="pet_id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn-success btn">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</html>